body {
    font-family: Arial, sans-serif;
    background-color: #f4c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #b9edea;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
    position: relative;
}

.title {
    background-color: #87929e;
    color: rgb(247, 247, 247);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}

label {
    width: 100px;
    background-color: #082545;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

input {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #b2d9e0;
    color: rgb(185, 174, 174);
    text-align: center;
}

/* Buttons */
.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    width: 45%;
    padding: 10px;
    background-color: #9b4b4b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7a7474;
}